#igore all data folders and some files
ref_proteome_all
ref_proteomes/ecoli_data/*
!ref_proteomes/ecoli_data/after_rem.fasta
!ref_proteomes/ecoli_data/ecoli_name.fasta
ref_proteomes/dev_file
ref_proteomes/all_data
ref_proteomes/rbh_blast
ref_proteomes/rbh_mmseqs/*
!ref_proteomes/rbh_mmseqs/README.md
!ref_proteomes/rbh_mmseqs/bin/
ref_proteomes/rbh_blast/*
!ref_proteomes/rbh_blast/bin/
ref_proteomes/control_dataset/*
!ref_proteomes/control_dataset/bin/
ref_proteomes/rbh_mmseqite/*
!ref_proteomes/rbh_mmseqite/bin/
programs/
uniclust30_hhsuite/
*ipynb_checkpoints
